.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: unset;
  padding: 0;
  margin: 0;
}

.khan__buy-link::after {
  content: '→';
  font-size: inherit;
  margin-left: 4px;
}
